/* styles.css */

html {
  background-color: #fbf3f0;
}

h1 {
  font-family: Pliant;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: Pliant;
}

.subtitle {
  color: #a5a09e;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 30px;
}

button {
  font-family: Pliant;
  font-size: 35px;
  width: 100vh;
  text-align: left;
  padding-left: 60px;
  background-color: #fbf3f0;
  color: #a5a09e;
  border: none;
  cursor: pointer;
  margin: 15px;
}

button:hover {
  background-color: black;
  color: #fbf3f0;
}

.centerOnGrid {
    display: grid; 
    place-items: center;
    height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}